<!--<router-outlet name="maincontentoutlet"></router-outlet>-->
<ActionBar title="LoginWithSideBar">
    <ActionItem text="Menu" (tap)="toogleSideDraw()" icon="res://ic_menu.png"></ActionItem>
</ActionBar>
<!--<StackLayout>-->
<RadSideDrawer #drawer (drawerOpening)="onDrawerOpening()" (drawerOpened)="onDrawerOpened()" (drawerClosing)="onDrawerClosing()"
    (drawerClosed)="onDrawerClosed()" [transition]="sideDrawerTransition" selectionBehavior="None">

    <StackLayout tkDrawerContent class="sidedrawer-left">

        <StackLayout class="sidedrawer-header">
            <Label class="sidedrawer-header-brand" text="Navigation Menu"></Label>
        </StackLayout>

        <StackLayout class="sidedrawer-content">
            <Label text="Home" [nsRouterLink]="['/main']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}"></Label>
            <Label text="Items" [nsRouterLink]="['/main/items']" nsRouterLinkActive="active"></Label>
        </StackLayout>

    </StackLayout>

    <StackLayout tkMainContent>
        <router-outlet name="maincontentoutlet"></router-outlet>
    </StackLayout>
</RadSideDrawer>
<!--</StackLayout>-->